html {
  font-family: 'Roboto'
}

body {
  max-width: 768px;
  margin: 0 auto;
  background-color: #EFEFEF
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #0F6F9F;
  cursor: pointer;
}
a:hover {
  color: #D00000;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.2);
  -webkit-transition: box-shadow 1s; /* Safari */
  transition: box-shadow 1s;
  padding: 20px;
  text-align: justify;
  cursor: default;
}
.card:hover{
  box-shadow: 0px 10px 20px 0px rgba(0,0,0, 0.4);
}

.question {
  padding-bottom: 15px;
  font-size: 120%;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: #202020;
}

.chart-input{
  cursor: pointer;
  padding-bottom: 10px;
}

.chart3_table{
  width: 100%;
  text-align: center;
}

.chart3_selector1{
  color: #3F51B5;
  font-size: 19px !important;
  padding-right: 5px;
}
.chart3_selector2{
  color: #F44336;
  font-size: 19px !important;
  padding-right: 5px;
}
.chart3_selector3{
  color: #E91E63;
  font-size: 19px !important;
  padding-right: 5px;
}
.chart3_selector4{
  color: #2196F3;
  font-size: 19px !important;
  padding-right: 5px;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

path.line
{
    fill: none;
    stroke: #000;
}