html {
  font-family: 'Roboto'
}

body {
  max-width: 768px;
  margin: 0 auto;
  background-color: #EFEFEF
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #0F6F9F;
  cursor: pointer;
}
a:hover {
  color: #D00000;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.2);
  -webkit-transition: box-shadow 1s; /* Safari */
  transition: box-shadow 1s;
  padding: 20px;
  text-align: justify;
  cursor: default;
}
.card:hover{
  box-shadow: 0px 10px 20px 0px rgba(0,0,0, 0.4);
}

.question {
  padding-bottom: 15px;
  font-size: 120%;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: #202020;
}

.chart-input{
  cursor: pointer;
}
